# Miscellaneous
*.class
*.lock
*.log
*.pyc
*.swp
.DS_Store
.history

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec.lock

# IDE specific
.idea/
*.iml
.vscode/

# iOS/macOS
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner.xcodeproj/project.xcworkspace/
ios/Runner.xcodeproj/xcuserdata/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig

# Android
android/key.properties
android/local.properties
android/.gradle/
android/app/build/
android/build/

.env
__pycache__/

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual Environments (tüm venv pattern'leri)
venv/
.venv/
.venv_*/
env/
ENV/

# Database
*.db
*.sqlite3

# Build and Environments
.buildozer/
bin/
dist/
*.egg-info/

# Kivy
.kivy/

# OS
Thumbs.db
